#category-list {
   .edit-wrapper {
      z-index: 100;
   }
}

#category-show {
   img.info {
      width: 35px;
      height: 35px;
   }

   textarea {
      resize: none;
   }

   #storeTask {
      height: 100%;
   }

   table tbody tr:last-child td {
      border-bottom: none !important;
   }
}
